.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfvars
!terraform.tfvars.example
*.tfplan
backend.hcl
ci.auto.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
